Repository djm81/ai-wizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, validate-working-directories, add-missing-docstrings, generate-openapi-spec, check-openapi-version

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
  tests/.*|
  setup\.py|
  docs/.*|
  migrations/.*
)$

  validate-working-directories: any of: ^\.github/workflows/.*\.yml$
  add-missing-docstrings: any of: \.py$
  generate-openapi-spec: any of: ^backend/app/.*\.py$
  check-openapi-version: any of: ^backend/app/openapi/specification\.yaml$

Update lambda function on changes
  backend/terraform/main.tf
Due: none

Fix mangum_handler and cw logs permissions
  backend/app/lambda_handler.py
  backend/terraform/main.tf
Due: pylint, add-missing-docstrings, generate-openapi-spec

Fixed CORS configuration, API test issues, and implemented proper prompt length validation in both frontend and backend.
  .github/scripts/push-changes.sh
  backend/app/api/endpoints/ai.py
  backend/app/core/config.py
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/services/ai_service.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/terraform/main.tf
  backend/tests/api/endpoints/test_ai.py
  backend/tests/services/test_ai_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/api.test.tsx
  frontend/src/__tests__/useApi.test.tsx
  frontend/src/api.tsx
  frontend/src/hooks/useApi.tsx
  frontend/src/pages/AIInteractions.tsx
  frontend/src/types/aiInteraction.ts
Due: pylint, add-missing-docstrings, generate-openapi-spec

Fixed configuration handling and validation in both frontend and backend, focusing on CORS settings and environment variables.
  backend/app/core/config.py
  backend/tests/conftest.py
  backend/tests/test_config.py
Due: pylint, add-missing-docstrings, generate-openapi-spec

Improve precommit hooks and linting logs
  .cursorrules
  .github/scripts/analyze-workflow-error.py
  .pre-commit-config.yaml
  README.md
  backend/app/api/endpoints/ai_interactions.py
  backend/app/api/endpoints/projects.py
  backend/app/core/config.py
  backend/app/core/logging_config.py
  backend/app/db/database.py
  backend/app/lambda_handler.py
  backend/app/main.py
  backend/app/models/ai_interaction.py
  backend/app/models/user.py
  backend/app/models/user_profile.py
  backend/app/services/ai_interaction_service.py
  backend/app/services/auth_service.py
  backend/app/services/project_service.py
  backend/app/services/user_service.py
  backend/app/utils/logging_config.py
  backend/tests/api/endpoints/test_ai.py
  backend/tests/api/endpoints/test_ai_interactions.py
  backend/tests/api/endpoints/test_projects.py
  backend/tests/conftest.py
  backend/tests/services/test_ai_service.py
  backend/tests/services/test_auth_service.py
  backend/tests/services/test_project_service.py
  backend/tests/services/test_user_service.py
  pyproject.toml
  scripts/__init__.py
  scripts/generate_openapi_spec.py
Due: pylint, add-missing-docstrings, generate-openapi-spec

Improved code by pylint findings
  backend/app/api/endpoints/users.py
  backend/app/core/config.py
  backend/app/lambda_handler.py
  backend/app/main.py
  backend/app/models/ai_interaction.py
  backend/app/models/base.py
  backend/app/models/project.py
  backend/app/models/user.py
  backend/app/models/user_profile.py
  backend/app/openapi/specification.yaml
  backend/app/schemas/user.py
  backend/app/services/ai_service.py
  backend/app/services/auth_service.py
  backend/app/services/project_service.py
  backend/terraform/api/specification.yaml
  backend/tests/conftest.py
  backend/tests/services/test_user_service.py
Due: pylint, add-missing-docstrings, generate-openapi-spec, check-openapi-version

Reformatted code, reordering of first-party imports, and removal of unused imports. Improved error handling and logging.
  .cursorrules
  .learnings
  .pre-commit-config.yaml
  backend/app/api/endpoints/ai.py
  backend/app/api/endpoints/ai_interactions.py
  backend/app/api/endpoints/projects.py
  backend/app/api/endpoints/users.py
  backend/app/api/router.py
  backend/app/core/logging_config.py
  backend/app/db/database.py
  backend/app/lambda_handler.py
  backend/app/main.py
  backend/app/models/ai_interaction.py
  backend/app/models/project.py
  backend/app/models/user.py
  backend/app/models/user_profile.py
  backend/app/openapi/specification.yaml
  backend/app/services/ai_interaction_service.py
  backend/app/services/ai_service.py
  backend/app/services/auth_service.py
  backend/app/services/project_service.py
  backend/app/services/user_service.py
  backend/poetry.lock
  backend/terraform/api/specification.yaml
  backend/tests/api/endpoints/test_ai.py
  backend/tests/api/endpoints/test_ai_interactions.py
  backend/tests/api/endpoints/test_projects.py
  backend/tests/conftest.py
  backend/tests/services/test_ai_service.py
  backend/tests/services/test_auth_service.py
  backend/tests/services/test_project_service.py
  backend/tests/services/test_user_service.py
  pyproject.toml
  scripts/generate_openapi_spec.py
Due: pylint, add-missing-docstrings, generate-openapi-spec, check-openapi-version

## Documentation Improvements
  .github/workflows/ci-cd-shared-infrastructure.yml
  .github/workflows/ci-cd-test-build-backend.yml
  .github/workflows/ci-cd-test-build-frontend.yml
  README.md
  backend/terraform/environments/dev/backend.tf
  backend/terraform/environments/dev/main.tf
  backend/terraform/environments/dev/providers.tf
  backend/terraform/environments/prod/backend.tf
  backend/terraform/environments/prod/main.tf
  backend/terraform/environments/prod/providers.tf
  backend/terraform/environments/test/backend.tf
  backend/terraform/environments/test/main.tf
  backend/terraform/environments/test/providers.tf
  backend/terraform/modules/backend/main.tf
  backend/terraform/modules/frontend/main.tf
  backend/terraform/modules/shared/main.tf
  docs/development/codebase_evaluation.md
  docs/development/codebase_summary.md
  logs/.gitkeep
Due: validate-working-directories

Add AWS credentials to pipelines in test blocks
  .github/workflows/ci-cd-shared-infrastructure.yml
  .github/workflows/ci-cd-test-build-backend.yml
  .github/workflows/ci-cd-test-build-frontend.yml
Due: validate-working-directories

Update checks for shared infrastructure using plan instead of state to avoid manual component checks in the pipeline.
  .github/workflows/ci-cd-test-build-backend.yml
  .github/workflows/ci-cd-test-build-frontend.yml
Due: validate-working-directories

## Pipeline Improvements
  .github/workflows/ci-cd-test-build-frontend.yml
Due: validate-working-directories

## Infrastructure Improvements
  backend/terraform/modules/frontend/main.tf
Due: none

Update pipeline triggers for frontend and backend modules
  .github/workflows/ci-cd-test-build-backend.yml
  .github/workflows/ci-cd-test-build-frontend.yml
Due: validate-working-directories

## Infrastructure Improvements
  .github/workflows/ci-cd-test-build-frontend.yml
  backend/app/openapi/specification.yaml
  backend/terraform/modules/backend/api/specification.yaml
  backend/terraform/modules/backend/main.tf
  scripts/generate_openapi_spec.py
Due: pylint, validate-working-directories, add-missing-docstrings, check-openapi-version

## Infrastructure Improvements
  backend/terraform/modules/backend/main.tf
Due: none

## OpenAPI Specification Improvements
  backend/app/openapi/specification.yaml
  backend/terraform/modules/backend/api/specification.yaml
  scripts/generate_openapi_spec.py
  test.yaml
Due: pylint, add-missing-docstrings, check-openapi-version

## API Gateway Improvements
  backend/terraform/modules/backend/main.tf
Due: none

Update config_test.py to use str() instead of origins
  backend/tests/test_config.py
Due: pylint, add-missing-docstrings

Updated OpenAPI spec generation script to use SafeDumper for YAML serialization.
  backend/app/api/endpoints/users.py
  backend/app/lambda_handler.py
  backend/app/openapi/specification.yaml
  backend/terraform/modules/backend/api/specification.yaml
  scripts/generate_openapi_spec.py
Due: pylint, add-missing-docstrings, generate-openapi-spec, check-openapi-version

Fix the backend alias name to be the environment name plus -v2
  backend/terraform/modules/backend/main.tf
Due: none

Update the API Gateway integration to use the lambda alias instead of the lambda function ARN.
  backend/terraform/modules/backend/main.tf
Due: none

Add root_path to Mangum handler to remove stage prefix from API paths
  backend/app/lambda_handler.py
Due: pylint, add-missing-docstrings, generate-openapi-spec

Add logging to the backend lambda function for investigation
  backend/app/lambda_handler.py
Due: pylint, add-missing-docstrings, generate-openapi-spec

# Consolidated logging configuration
  backend/app/core/logging_config.py
  backend/app/lambda_handler.py
Due: pylint, add-missing-docstrings, generate-openapi-spec

Refactor lambda handler logic to add base path if we are running in Lambda and use our custom handler.
  backend/app/lambda_handler.py
Due: pylint, add-missing-docstrings, generate-openapi-spec

- Refactor lambda handler to wrap lambda_handler before passing to Mangum - Add ENVIRONMENT to settings and check for it in lambda_handler
  .github/workflows/ci-cd-test-build-backend.yml
  backend/app/core/config.py
  backend/app/lambda_handler.py
  backend/terraform/environments/dev/outputs.tf
  backend/terraform/environments/dev/terraform.tfvars
  backend/terraform/environments/dev/terraform.tfvars.example
  backend/terraform/environments/dev/variables.tf
  backend/terraform/environments/prod/outputs.tf
  backend/terraform/environments/test/outputs.tf
  backend/terraform/modules/backend/lambda/lambda_handler.py
  backend/terraform/modules/backend/main.tf
Due: pylint, validate-working-directories, add-missing-docstrings, generate-openapi-spec

Change tf outputs from lambda_function_id to lambda_function_version
  backend/terraform/environments/dev/outputs.tf
  backend/terraform/environments/dev/terraform.tfvars
  backend/terraform/environments/dev/terraform.tfvars.example
  backend/terraform/environments/dev/variables.tf
  backend/terraform/environments/prod/outputs.tf
  backend/terraform/environments/test/outputs.tf
  backend/terraform/modules/backend/outputs.tf
Due: none

## Frontend Changes
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/src/__tests__/api.test.tsx
  frontend/src/api.tsx
  frontend/src/hooks/useApi.tsx
  frontend/src/pages/Projects.tsx
Due: none

## Logging Integration Updates - Fixed Pydantic v2 compatibility issues - Added tests for logging endpoint - Updated logging model validation - Added proper test mocks for logging
  frontend/jest.config.js
  frontend/src/__mocks__/auth/mockFactory.ts
  frontend/src/__tests__/AuthContext.test.tsx
  frontend/src/__tests__/fedcmAuth.test.ts
  frontend/src/__tests__/logging.test.ts
  frontend/src/jest.setup.ts
  frontend/src/types/google-auth.d.ts
Due: none
